@import "tailwindcss";
@plugin '../hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
  --color-main: #020618;
  --animate-myAnimate: myAnimate 2s ease-in-out;
}

@keyframes myAnimate {
  0% { transform: translateX(-100%); }
  50% { transform: translateX(30%); }
  75% { transform: translateX(-10%); }
  100% { transform: translateX(0%); }
}
@layer base {
  ::selection {
    @apply bg-pink-600 text-white;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: #4f46e5  #cad5e2 ;
  }
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #4f46e5;
    border-radius: 999px;
  }
}
@layer components {
  .input-fields {
    @apply relative block py-1 ps-1 mt-1 w-full border border-slate-700 rounded-lg transition-all duration-500;
  }
  .input-fields:-webkit-autofill,
  .input-fields:-webkit-autofill:hover,
  .input-fields:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #020617 inset !important;
    -webkit-text-fill-color: #cbd5e1 !important;
    caret-color: #cbd5e1;
  }
  .postCard {
    @apply animate-[myAnimate_1s_ease-in-out] hover:shadow-[0px_0px_10px_0px] overflow-hidden shadow-indigo-900 pt-4 bg-slate-900/50 rounded-xl transition-all duration-100;
  }
  .modalIcons {
    @apply rounded-full p-2 cursor-pointer text-2xl transition-all hover:scale-105 duration-100;
  }
  .post-footer-icon {
    @apply flex items-center gap-1 active:scale-105 cursor-pointer rounded-xl p-2 hover:bg-slate-800 transition-all duration-300;
  }
  .post-actions-menu {
    @apply rounded-lg active:scale-90 hover:translate-0.5 hover:bg-slate-700 transition-all duration-200;
  }
}
